
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGatewayModuleLabel" translate="consoleApp.gatewayModule.home.createOrEditLabel">Create or edit a Gateway Module</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.gatewayModule.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.gatewayModule.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consoleApp.gatewayModule.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.gatewayModule.name"
                    required ng-maxlength="100" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="consoleApp.gatewayModule.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.gatewayModule.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consoleApp.gatewayModule.artifact" for="field_artifact">Artifact</label>
            <input type="text" class="form-control" name="artifact" id="field_artifact"
                    ng-model="vm.gatewayModule.artifact"
                    required ng-maxlength="100" ng-pattern="/^[\w\.-]+:[\w\.-]+:[\w\.-]+$/" />
            <div ng-show="editForm.artifact.$invalid">
                <p class="help-block"
                    ng-show="editForm.artifact.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.artifact.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.artifact.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^[\w\.-]+:[\w\.-]+:[\w\.-]+$">
                    This field should follow pattern "^[\w\.-]+:[\w\.-]+:[\w\.-]+$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="consoleApp.gatewayModule.activated" for="field_activated">Activated</label>
            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                    ng-model="vm.gatewayModule.activated"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="consoleApp.gatewayModule.instances" for="field_instances">Instances</label>
            <input type="number" class="form-control" name="instances" id="field_instances"
                    ng-model="vm.gatewayModule.instances"
                    required />
            <div ng-show="editForm.instances.$invalid">
                <p class="help-block"
                    ng-show="editForm.instances.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.instances.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="consoleApp.gatewayModule.settings" for="field_settings">Settings</label>
            <input type="text" class="form-control" name="settings" id="field_settings"
                    ng-model="vm.gatewayModule.settings"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
